<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warhammer</title>
</head>
<body>
  <h1 id="title">Warhammer 401k</h1>
  {{{body}}}
  <style>
    #title {
      
      font-weight: bold;
      font-size: 40px;
      color: darkgray;
    }

  </style>
</body>
</html>
