  <h1>Army Information</h1>
  {{#if armyNames.length}}
  <h3>Army Names:</h3>
  <ul>
    {{#each armyNames as |armyName|}}
      <li>{{armyName}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No army names available.</p>
{{/if}}