<div class="mt-4 text-4xl" id='welcome-message'> Welcome to our Warhammer page!</div>
<p id='welcome-message'>Click
  <a class='text-red-500 underline decoration-inherit text-2xl' href=' /login '>here</a>
  to take command of your army!</p>