<div class='row'>
  <div class='' id='login'>
    <div class="mb-2">
    <h2 class='font-bold' id='login-header'>Login</h2>

    <form class='login-form' id='login-form'>
      <div class=''>
        {{! <label for="email-login">email:</label> }}
        <input
          class='form-input border-2 border-red-700 my-1'
          type='text'
          id='email-login'
          placeholder='Email'
        />
      </div>
      <div class=''>
        {{! <label for="password-login">pass:</label> }}
        <input
          class='form-input border-2 border-red-700 my-1'
          type='password'
          id='password-login'
          placeholder='Password'
        />
      </div>
      <div class=''>
        <button class='text-xl btn btn-primary' type='submit'>Deploy</button>
      </div>
    </div>
    </form>


  </div>
  <div class='' id='signup-box'>
    <h2 class='font-bold' id='signup-header'>Signup</h2>

    <form class='signup-form' id='signup-form'>
      <div class=''>
        {{! <label for="name-signup">name:</label> }}
        <input
          class='form-input border border-black my-1'
          type='text'
          id='name-signup'
          placeholder='Username'
        />
      </div>
      <div class=''>
        {{! <label for="email-signup">email:</label> }}
        <input
          class='form-input border border-black my-1'
          type='text'
          id='email-signup'
          placeholder='Email'
        />
      </div>
      <div class=''>
        {{! <label for="password-signup">pass:</label> }}
        <input
          class='form-input border border-black my-1'
          type='password'
          id='password-signup'
          placeholder='Password'
        />
      </div>
      <div class=''>
        <button class='text-xl btn btn-primary' type='submit'>Enlist</button>
      </div>
    </form>
  </div>
</div>

<div class="pt-5 flex justify-center">
  <div id='email-signup' class='flex justify-center w-3/12 border border-gray-300 p-4 rounded-lg'>
    <form class='flex flex-col space-y-4'>
      <label for='email' class='text-white text-2xl flex justify-center'>Email:</label>
      <input
        type='email'
        id='email'
        name='email'
        placeholder='Enter your email'
        class='px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'
      />
      <button
        type='submit'
        class='px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500'
      >Subscribe</button>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>