<div class='row'>
  <div class='' id='login'>
    <h2 id='login-header'>Login</h2>

    <form class='login-form' id='login-form'>
      <div class=''>
        {{! <label for="email-login">email:</label> }}
        <input
          class='form-input'
          type='text'
          id='email-login'
          placeholder='Email'
        />
      </div>
      <div class=''>
        {{! <label for="password-login">pass:</label> }}
        <input
          class='form-input'
          type='password'
          id='password-login'
          placeholder='Password'
        />
      </div>
      <div class=''>
        <button class='btn btn-primary' type='submit'>Deploy</button>
      </div>
    </form>
  </div>
  <div class='text-red-500' id='signup-box'>
    <h2 id='signup-header'>Signup</h2>

    <form class='signup-form' id='signup-form'>
      <div class=''>
        {{! <label for="name-signup">name:</label> }}
        <input
          class='form-input'
          type='text'
          id='name-signup'
          placeholder='Username'
        />
      </div>
      <div class=''>
        {{! <label for="email-signup">email:</label> }}
        <input
          class='form-input'
          type='text'
          id='email-signup'
          placeholder='Email'
        />
      </div>
      <div class=''>
        {{! <label for="password-signup">pass:</label> }}
        <input
          class='form-input'
          type='password'
          id='password-signup'
          placeholder='Password'
        />
      </div>
      <div class=''>
        <button class='btn btn-primary' type='submit'>Enlist</button>
      </div>
    </form>
  </div>
</div>

<script src='./js/login.js'></script>